body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
html,body,ul,li,h3,h4,h5{
    margin: 0px;
    padding: 0px;
}

ul,li{
    list-style: none;
}
aside>ul>li:nth-of-type(1){
    text-align: center;
}
nav{
    height: 50px;
    background-color: #013B84;
    padding-left: 48px;
    min-height: 40px;
}
label{
    line-height: 34px;
    text-align: center;
}
nav .box{
    line-height: 50px;
    font-size: 20px;
    font-family: "Microsoft YaHei UI";
    color: #ffffff;
}
footer{
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
}
aside{
    width: 220px;
    min-width: 220px;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
}
aside ul li a{
    padding-left: 15px;
    display: block;
    text-decoration: none;
    color: #333333;
    line-height: 38px;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
}
a:hover{
    color: #2182fd;
    text-decoration: none;
}
section{
    background-color: #f9f2f4;
    width: auto;
    height:100%;
    overflow: scroll;
    position: relative;
    left: 5px;
    top: 5px;
    margin-left: 220px;
}
@keyframes sildeIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes sildeOut {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
    }
}
[ui-view]{
    width: 100%;
    background-color: #ffffff;
    position: absolute;
}
[ui-view].ng-enter {

    animation: sildeIn 1s both ease-in-out ;
}

[ui-view].ng-leave {

    animation: sildeOut 0.8s both ease-in-out ;
}
table{
    background-color: #ffffff;
}