#pageTwo{
	width: 100%;
	height: 100%;
	background-color: #ffffff;

}
#pageTwo h3{
	width: 100%;
}
#pageTwo h3 a{
	position: absolute;
	right: 10px;
	font-size: 14px;
	line-height: 26px;
}
#pageTwo li{
	margin-right: 5px;
	float: left;
	line-height: 34px;
}
#pageTwo tr td,th{
	text-align: center;
}
#pageTwo input{
	height: 30px;
	width: 72px;
	margin-right: 5px;
}
#pageTwo footer{
	width: 100%;
	text-align: center;
	background-color: #ffffff;
}

#pageTwoDetail h3{
	text-align: center;
	padding-top: 20px;
}

#pageTwoDetail form{
	padding: 20px;
}
#pageTwoDetail .radio label{
	margin-right: 10px;
}
#pageTwoDetail label span{
	display: inline-block;
	position: relative;
	top: -7px;
}

#pageTwoAddition{
	background-color: #f9f2f4;
}
#pageTwoAddition h3 span{
	float: right;
}
#pageTwoAddition i {
	cursor: pointer;
	margin-right: 10px;
	font-style: normal;
	font-size: 14px;
	font-weight: normal;
}

#pageTwoAddition h3{
	background-color: #fff;
	text-align: center;
	padding: 10px 0px;
}

#pageTwoAddition .form-horizon{
	padding: 10px 0px 0px 0px;
}
#pageTwoAddition .panel-body{
	background-color: #fff;
	margin-bottom: 10px;
}
#pageTwoAddition .row{
	background-color: #fff;
	padding-top: 20px;
}
#pageTwoAddition form{
	padding: 20px;
}
#pageTwoAddition .radio label{
	margin-right: 10px;
}
#pageTwoAddition label span{
	display: inline-block;
	position: relative;
	top: -7px;
}
#pageTwoAddition .delete{
	float: right;
}



